
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Adsroid</h1>
    <p class="lead">Adsroid is a free campaign performance tracking application built for advertising agencies and networks.</p>
    <p>
    @*<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@
    <a class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("AgencyRegistration","Agency")'">Register Now! &raquo;</a></p>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track Creative</h2>
        <p>
            Now track the creative performance with our track-the-creative feature, and get better insights into the campaign performance.
        </p>
        <p>
        <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>      
    </div>
    <div class="col-md-4">
        <h2>Performance Dashboard</h2>
        <p>
        With our dashboard feature, access to all campagin activities is just a click away.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On-the-fly Reporting</h2>
        <p>Say no to manual reporting, with our On-the-fly reporting just schedule the reports while creating the campaigns</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div>
</div>

